In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Start a Spark session
spark = SparkSession.builder.appName("EmployeeAnalysis").getOrCreate()

# Load the CSV file
file_path = "/FileStore/tables/employe-1.csv"  
df = spark.read.csv(file_path, header=True, inferSchema=True)
df.show()

+---+-------+---+----------+------+----------+
| id|   name|age|department|salary| join_date|
+---+-------+---+----------+------+----------+
|  1|   John| 34|        IT| 75000|2015-06-01|
|  2|   Sara| 28|        HR| 58000|2019-09-15|
|  3|Michael| 45|   Finance|120000|2010-01-10|
|  4|  Karen| 29|        IT| 70000|2020-02-19|
|  5|  David| 38|   Finance| 90000|2017-08-23|
|  6|  Linda| 33|        HR| 60000|2018-12-05|
|  7|  James| 41|        IT|110000|2013-04-15|
|  8|  Emily| 27|        HR| 52000|2021-06-20|
|  9| Robert| 36|   Finance|105000|2016-11-30|
+---+-------+---+----------+------+----------+

In [0]:
df.filter(df.age > 30).show()

+---+-------+---+----------+------+----------+
| id|   name|age|department|salary| join_date|
+---+-------+---+----------+------+----------+
|  1|   John| 34|        IT| 75000|2015-06-01|
|  3|Michael| 45|   Finance|120000|2010-01-10|
|  5|  David| 38|   Finance| 90000|2017-08-23|
|  6|  Linda| 33|        HR| 60000|2018-12-05|
|  7|  James| 41|        IT|110000|2013-04-15|
|  9| Robert| 36|   Finance|105000|2016-11-30|
+---+-------+---+----------+------+----------+

In [0]:
df.groupBy("department").agg(avg("salary").alias("avg_salary")).show()

+----------+------------------+
|department|        avg_salary|
+----------+------------------+
|        HR|56666.666666666664|
|   Finance|          105000.0|
|        IT|           85000.0|
+----------+------------------+

In [0]:
from pyspark.sql.functions import current_date, datediff

df = df.withColumn("experience", (datediff(current_date(), col("join_date")) / 365).cast("int"))
df.show()

+---+-------+---+----------+------+----------+----------+
| id|   name|age|department|salary| join_date|experience|
+---+-------+---+----------+------+----------+----------+
|  1|   John| 34|        IT| 75000|2015-06-01|         9|
|  2|   Sara| 28|        HR| 58000|2019-09-15|         5|
|  3|Michael| 45|   Finance|120000|2010-01-10|        14|
|  4|  Karen| 29|        IT| 70000|2020-02-19|         4|
|  5|  David| 38|   Finance| 90000|2017-08-23|         7|
|  6|  Linda| 33|        HR| 60000|2018-12-05|         5|
|  7|  James| 41|        IT|110000|2013-04-15|        11|
|  8|  Emily| 27|        HR| 52000|2021-06-20|         3|
|  9| Robert| 36|   Finance|105000|2016-11-30|         8|
+---+-------+---+----------+------+----------+----------+

In [0]:
df.orderBy(col("salary").desc()).limit(3).show()

+---+-------+---+----------+------+----------+----------+
| id|   name|age|department|salary| join_date|experience|
+---+-------+---+----------+------+----------+----------+
|  3|Michael| 45|   Finance|120000|2010-01-10|        14|
|  7|  James| 41|        IT|110000|2013-04-15|        11|
|  9| Robert| 36|   Finance|105000|2016-11-30|         8|
+---+-------+---+----------+------+----------+----------+

In [0]:
df.groupBy("department").agg(sum("salary").alias("total_salary")) \
  .orderBy(col("total_salary").desc()).limit(1).show()

+----------+------------+
|department|total_salary|
+----------+------------+
|   Finance|      315000|
+----------+------------+

In [0]:
avg_salary = df.select(avg("salary").alias("avg_salary")).collect()[0]["avg_salary"]
df.filter(df.salary > avg_salary).show()

+---+-------+---+----------+------+----------+----------+
| id|   name|age|department|salary| join_date|experience|
+---+-------+---+----------+------+----------+----------+
|  3|Michael| 45|   Finance|120000|2010-01-10|        14|
|  5|  David| 38|   Finance| 90000|2017-08-23|         7|
|  7|  James| 41|        IT|110000|2013-04-15|        11|
|  9| Robert| 36|   Finance|105000|2016-11-30|         8|
+---+-------+---+----------+------+----------+----------+

In [0]:
df = df.withColumnRenamed("name", "employee_name")
df.show()

+---+-------------+---+----------+------+----------+----------+
| id|employee_name|age|department|salary| join_date|experience|
+---+-------------+---+----------+------+----------+----------+
|  1|         John| 34|        IT| 75000|2015-06-01|         9|
|  2|         Sara| 28|        HR| 58000|2019-09-15|         5|
|  3|      Michael| 45|   Finance|120000|2010-01-10|        14|
|  4|        Karen| 29|        IT| 70000|2020-02-19|         4|
|  5|        David| 38|   Finance| 90000|2017-08-23|         7|
|  6|        Linda| 33|        HR| 60000|2018-12-05|         5|
|  7|        James| 41|        IT|110000|2013-04-15|        11|
|  8|        Emily| 27|        HR| 52000|2021-06-20|         3|
|  9|       Robert| 36|   Finance|105000|2016-11-30|         8|
+---+-------------+---+----------+------+----------+----------+

In [0]:
df.groupBy("department").count().show()

+----------+-----+
|department|count|
+----------+-----+
|        HR|    3|
|   Finance|    3|
|        IT|    3|
+----------+-----+

In [0]:
df.select("id", "employee_name").show()

+---+-------------+
| id|employee_name|
+---+-------------+
|  1|         John|
|  2|         Sara|
|  3|      Michael|
|  4|        Karen|
|  5|        David|
|  6|        Linda|
|  7|        James|
|  8|        Emily|
|  9|       Robert|
+---+-------------+

In [0]:
from pyspark.sql.functions import col

df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+-------------+---+----------+------+---------+----------+
| id|employee_name|age|department|salary|join_date|experience|
+---+-------------+---+----------+------+---------+----------+
|  0|            0|  0|         0|     0|        0|         0|
+---+-------------+---+----------+------+---------+----------+